<div class="container" style="width: 1000px">
  <div class="row">
    <h2 class="display-1">Welcome to your</h2>
    <h2 class="display-2">Personalized Blog App !!</h2>
    <hr />
  </div>

  <div class="row">
    <ul class="list-group">
      <li>
        <a href="writeblog"
          ><button class="btn btn-outline-success">Write A Blog</button></a
        >
      </li>
      <li>
        <a href="viewblogs">
          <button class="btn btn-outline-primary">View Your Blogs</button></a
        >
      </li>
      <li>
        <a href="viewblogs">
          <button class="btn btn-outline-warning">Edit Your Blogs</button></a
        >
      </li>
      <li>
        <a href="viewblogs">
          <button class="btn btn-outline-danger">Delete Your Blogs</button></a
        >
      </li>
    </ul>
  </div>
</div>
