<div class="container" style="width: 530px">
  <form #f="ngForm">
    <div class="row m-3">
      <div class="form-group">
        <div class="col">
          <label for="title"><strong>Title</strong></label>
          <input
            type="text"
            class="form-control"
            name="title"
            placeholder="Think of a name, quick!"
            [(ngModel)]="blogTitle"
            required
          />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="form-group">
        <div class="col">
          <label for="content"><strong>Content</strong></label>
        </div>
        <div class="col">
          <textarea
            name="content"
            id="content"
            cols="45"
            rows="8"
            placeholder="Write your heart out!"
            [(ngModel)]="blogContent"
            required
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col">
        <button
          class="btn btn-primary"
          [disabled]="!f.valid"
          (click)="createPost(f.value)"
          (click)="successMessageCreated()"
        >
          Submit Post
        </button>
      </div>
    </div>
    <div class="row m-3">
      <div class="col">
        <button class="btn btn-success btn-sm" (click)="fetchPosts()">
          Fetch Posts
        </button>
        |
        <button
          class="btn btn-danger btn-sm"
          (click)="onClearPosts()"
          (click)="successMessageCleared()"
        >
          Clear Posts
        </button>
      </div>
    </div>
  </form>
</div>
