.container{
    text-align: center !important;
    align-items: center !important;
    font-size: larger;
    /* width: 400px; */
}

form{
    align-items: center;
    text-align: left;
}

button{
    text-align: center !important;
    align-items: center;
}

