<div class="noposts" *ngIf="fetchedPosts.length < 1">
  <h2>We're waiting for your first blog!</h2>
  <hr />
  <h3>No posts available!!</h3>
</div>
<div class="container" style="width: 900px">
  <div class="row m-3">
    <div class="col">
      <ul class="list-group">
        <div *ngFor="let post of fetchedPosts; let i = index">
          <li class="list-group-item" *ngIf="fetchedPosts[i].id != 'null'">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <button
              class="btn btn-sm btn-success"
              (click)="editBlog(fetchedPosts[i])"
            >
              Edit
            </button>
            |
            <button
              class="btn btn-sm btn-danger"
              (click)="fetchedPosts[i].id = 'null'"
            >
              Delete
            </button>
            <br />
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
